<!-- This will be the browse, main page -->
<%- include("partials/header.ejs") %>

<main class="container-fluid">
  <!-- VERY ROUGH form for testing -->
  <div class="row row-cols-4 g-4">
    <!-- Function below will check array of items in a set of data, and create a div card for each. Will link to database when able to...
      !!PROBLEMS WITH CURRENT SOLUTION
        *This solution makes it difficult to sync up arrays with blank values. Require inputed data to require all fields? -->
    <%for(i = 0; i< locals.data.length; i++) {var item = data[i].name; var info = data[i].description; var img = data[i].image;%>
    <!-- Item: variable for the name of each object/ whever it is needed
           Info: used for the description of an item
           img: Used to find which image is used for each item, ALSO FOR THE IDENTIFICATIONS OF MODALS DUE TO NO OTHER WAY TO DO THAT RIGHT NOW. -->
    <div class="col">
      <a data-bs-toggle="modal" data-bs-target="#part-<%-img.substring(0,img.length-4)%>">
        <div class="card">
          <img src="img/<%= img %>" alt="example image here" />
          <div class="card-body">
            <h5 class="card-title"><%= item %></h5>
            <h6 class="card-text"><%= info %></h6>
          </div>
        </div>
      </a>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="part-<%-img.substring(0,img.length-4)%>"
      tabindex="-1"
      aria-labelledby="part-
      <%-img.substring(0,img.length-4)%>"
      aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="<%- item %>"><%- item %></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="hstack d-flex justify-content-center">
              <!-- add carousel for multiple images if there are -->
              <div class="d-flex align-items-center">
                <div class="sm-Img col">
                  <% locals.data[i].album.forEach((albumPic) => {%>
                  <img class="rounded-3" src="img/<%=albumPic%>" alt="" onclick="viewImage(this)" />
                  <%}) %>
                </div>
                <div class="full-Img rounded-3">
                  <img id="Viewer" src="img/<%=img%>" alt="" height="<%= locals.data[i].album.length*100%>px" />
                </div>
              </div>

            </div>
            </div>
          </div>
          <!--Modal Body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
        <!--Modal Content -->
      </div>
      <!-- Modal Dialog -->
    </div>
    <!-- End of Modal -->
    <%}%>
  </div>
</main>
<script>
  function viewImage(smallImg) {
    var fullImg = document.getElementById("Viewer");
    fullImg.src = smallImg.src;
  }
</script>
<%- include("partials/footer.ejs") %>
